<p style="color: green"><%= notice %></p>



<div style="text-align: center;">
  <% if @video && @video.clip.present? %>
    <%= video_tag(@video.clip, controls: true) %>
  <% else %>
    <p>Video not available</p>
  <% end %>

  <div>
    <%= link_to "Edit this video", edit_video_path(@video) %> |
    <%= link_to "Back to videos", videos_path %>

    <%= button_to "Destroy this video", @video, method: :delete %>
  </div>
</div>
